broadcast-box

# dependencies
/web/node_modules
/web/.pnp
.pnp.js

# production
/web/build

# misc
.DS_Store
.env.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# rider
/.idea

# media files
*.h264
*.ogg
*.opus
