name: Frontend CI
on:
  push:
    branches:
      - main
    paths:
      - 'web/**'
  pull_request:
    paths:
      - 'web/**'

defaults:
  run:
    working-directory: web

jobs:
  lint:
    name: Frontend lint & build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: web/package-lock.json
      - name: Install Node dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
      - name: Build
        run: npm run build
