{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 80,
    "semi": true,
    "svelteBracketNewLine": false,
    "bracketSameLine": true,
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],

    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ],
    "tailwindStylesheet": "./src/routes/layout.css"
}
